/*#bodybg{
  
  min-height: 100vh;
  background: linear-gradient(to top, #fbc2eb 0%, #a18cd1 100%);
  
}*/
html {
  overflow-x: hidden;
}

.navbar-light {
  background: linear-gradient(to top, #fbc2eb 0%, #a18cd1 100%);
  width: 103%;
  height: 90%;

}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 10px;
  width: 300px;
  margin-left: 60px;
  height: 350px;
  margin-bottom: 20px;

}

#CustomerMatDataTable {
  width: 100%;
  max-height: 100px;

}

#CustomerDataTable {
  display: none;
}

#matHeader {
  background-color: brown;
}

#matrow {
  background-color: cornflowerblue;
}

#previousButton {
  text-align: center;

}

#pageIndicator {
  border-style: solid;
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
  border-color: burlywood;

}

.navButtons {
  background: none !important;
  border: none;
  padding: 0 !important;
  outline: none;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;

  cursor: pointer;
}

th.mat-sort-header-sorted {
  color: black;
}

.card-body {
  background: teal;
  width: 111%;
  margin-left: -15px;
}

.border {
  border-style: ridge;
  border-width: 10px;
  width: 112%;
  margin-left: -12px;
  margin-top: 5px;
}

#cardbuttons {
  width: 90%;

  font-size: 12px;
  font-family: sans-serif;
  background-color: teal;

}



li:hover {
  background-color: wheat;
}

.details {
  margin-left: 10px;
}

.navbar:hover {
  background-color: white;
}

.form-control {
  width: 60%;
}

.login {
  width: 400px;
}

.modal-body {
  left: 40px;
}

.signup {
  width: 500px;
}

.nav-item {
  margin-right: 20px;
}

#searchTable {
  width: 50%;
}

#AddCustomerSection {
  display: none;
}

@media (max-width: 1000px) {

  /*shows elements in a column*/
  ul {
    flex-direction: column;
  }

  #search {
    width: 200px;
  }

  .navbar-default {
    background: linear-gradient(to top, #fbc2eb 0%, #a18cd1 100%);
  }

  /* deletes margin on top or bottom of the a tag*/
  li {
    margin: 0;
  }

  /* makes sure that the a tag will take the entire screen*/
  a {
    display: block;
  }
}

@media(min-width:1400px) {
  .card {
    margin-left: 90px;
  }
}

@media(min-width:750px) and (max-width:800px) {
  body {
    width: 750px;
  }

  .card {
    margin-left: 20px;
  }
}

@media(min-width:350px) and (max-width:400px) {


  .card {
    margin-left: -15px;
  }
}

@media(min-width:400px) and (max-width:450px) {


  .card {
    margin-left: -5px;
  }
}

@media(min-width:300px) and (max-width:349px) {

  body {
    width: 320px;

  }

  .card {
    margin-left: -30px;

  }
}

@media(min-height:300px) and (max-height:380px) {
  .card {
    width: 90%;
    margin-left: -25px;
  }

  .card-body {
    width: 113%;
  }
}
